$primary-color: #112055;
$secondary-color: #4f9d92;
$primary-color-darker: darken($primary-color, 20%);
$primary-color-lighten: lighten($primary-color, 20%);

.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

%box-shared{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
}
.box-primary {
  @extend %box-shared;
  background-color:$primary-color;
  color: #fff;
  &:hover {
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0);
  }
}

.box-primary-lighter {
  @extend %box-shared;
  background-color:$primary-color-lighten;
    &:hover {
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0);
  }
}

.box-primary-darker {
  @extend %box-shared;
   background-color:$primary-color-darker;
    &:hover {
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0);
  }
}

.box-secondary {
  @extend %box-shared;
  background-color:$secondary-color;
  color: #000;
   &:hover {
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0);
  }
}